.bmiimg1{
    height: 100%;
     width: 700px;
     
 }
 .BMI{
     background-color:white;
     text-align:left;
     text-align: center;
 }
 .bg{
     color: black;
     background:white;
     
 }
 .subbtn{
color: black;
font-weight: bold;
 }
.input1{
    border-radius: 20px;
    color: blanchedalmond;  
    text-align: center;
}
