.bmiimg1{
   justify-content: center;

     
 }
 .BMI{
     color: white;
     text-align:left;
     text-align: center;
     padding-left: 40px ;
     padding-right: 750px;
     padding-top: 80px;
 }
 .bg{
     padding-left: 40px;
    
     background-color: black;
     
 }
 .subbtn{
            color: black;
            font-weight: bold;
            justify-content: center;

 }
.input1{
    
    border-radius: 20px;
    color: blanchedalmond;  
    text-align: center;
}
.bg1{
    margin-left: 50px;
}
.bg2{
    padding-top: 60px;
    padding-left:80px;
    margin-left: 30px;
}