.exemain{
    background-color: black;
    color: white;
    padding-top:80px ;
    padding-left: 40px;
}
.btn{

   margin-top: 200px;
   margin-left: 70px;
    text-align: center;
    justify-content: center;
}
