.bmi{
    width: 400px;    
    height: 459px;
}
.exe{
    width: 400px;    
    height: 459px;
}
.gym{
    width: 400px;    
    height: 459px;
}
.card{
    width: 150%;
}
.img-fluid{
   height: 100%;
    width: 1480px;
}
.page-footer{
    background-color: black;
}
.row1{
    color: white;
    font-style: italic;
    margin-right: 40px;
    margin-top: 290px;
}
.hmimg{
   margin-left: 40px;
  
}